@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import '../../design';

.main-view {
  font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
}
.brand {
  font-size: 1.7rem !important;
}
.buttons {
  margin-left: auto;
}