@import '../../design';

.navbar{
  background-color: $background-color;
}
.btn-back {
  vertical-align: sub;
  margin-left: -10px;
}
.arrow {
  transform: rotate(90deg);
  width: 2.5rem;
  height: auto;
}
.content-body {
  flex-wrap: nowrap;
}
.content-text {
  font-weight: 400;
}
.movie-poster {
  width: 100%;
  height: auto;
}