$primary-color: #415a6b;
$secondary-color: #95b395;
$tertiary-color: #ced6e0;
$text-color: #1a261a;
$background-color: #e8e9e8;

$theme-colors: (
  "primary":    $primary-color,
  "secondary":  $secondary-color
);

@import "bootstrap/scss/bootstrap";